* {
  box-sizing: border-box;
}

body {
  background: #333;
  color: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: 0.25em;
  padding: 0 30px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  line-height: 1.5;
}

main {
  min-height: 100vh;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

h1 {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 2em;
  font-weight: normal;
}

span {
  position: relative;
}

span:after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background: white;
}

form {
  padding: 0;
  margin: 0;
}

input {
  -webkit-appearance: none;
  appearance: none;
  padding: 15px 30px;
  border-radius: 10px;
  background: white;
  border: none;
  font-size: 1em;
  margin-top: 100px;
  color: #333;
  width: 250px;
  max-width: 100%;
}

input:focus {
  outline: none;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 3em;
  }
}
